<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCZqLGI1jEh9X9M7spm6ef8eG2a7sEXgIE</string>
	<key>GCM_SENDER_ID</key>
	<string>654725538953</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.end2endMessaging</string>
	<key>PROJECT_ID</key>
	<string>end2end-messaging</string>
	<key>STORAGE_BUCKET</key>
	<string>end2end-messaging.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:654725538953:ios:9c90c40d4933204fe6d258</string>
</dict>
</plist>